html,
body,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	z-index: 1;
}

body,
html {
	background: linear-gradient(#1f1f1f, #181818);
	background-attachment: fixed;
	min-height: 100vh;
	position: relative;
	overscroll-behavior: none;
}


body::after {
	display: block;
	height: 100px;
}

sub {
	font-size: 13px;
}

header {
	border: 1px solid #ffffff41;
	border-top: none;
	border-bottom: none;
	box-shadow: #000000a1 0 0 20px;
	background-color: #0f1216a6;
	height: 75px;
	width: 50vw;
	margin-left: 25vw;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	backdrop-filter: blur(10px);
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 3;
}

.separater {
	height: 75px;
}

header a {
	text-decoration: none;
	font-size: 26px;
	padding: 25px;
}

main {
	padding-top: 20vh;
	padding-bottom: 100px;
	transition: all ease 0.2s;
}

div.text-section {
	display: flex;
	height: 50vh;
	margin: 24px 16%;
	font-size: 24px;
	align-items: center;
	justify-content: center;
	line-height: 1.7;
	flex-direction: column;
}

div.text-image {
	height: 30vh;
	flex-direction: row;
	display: flex;
	margin: 24px 16%;
	font-size: 24px;
	justify-content: space-around;
	align-items: center;
}

div.text-image p {
	height: fit-content;
	width: 50%;
}

div.text-image p small {
	font-size: 16px;
}

:any-link {
	color: inherit;
	transition: all ease 0.1s;
}

:any-link:hover,
:any-link:focus-visible {
	color: #75b1ff;
	outline: none;
}

#HIRING {
	font-weight: 700;
	font-size: large;
}

div.text-image img {
	image-rendering: pixelated;
	border-radius: 100%;
	transition: transform ease-out 0.5s;
	width: 30%;
	object-fit: contain;
	border-top: 1px solid #ffffff41;
	box-shadow: #000000a9 0 3px 5px;
}

div.text-image img:hover {
	transform: rotate(3.14159265359turn) scale(1.25);
}

#discord-username {
	cursor: pointer;
	transition: all ease-out 0.03s;
}

#discord-username:hover {
	color: #b4d7ff;
}

#discord-username:active {
	color: #668ebb;
}

div.Projects,
div.Render {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 20px;
}

div.Render>* {
	transition: all 0.2s ease;
	border-radius: 15px;
	width: 500px;
	margin: 10px;
	box-shadow: #000000a9 0 5px 5px;
	background-color: #0000006b;
	border-top: 1px solid #ffffff41;
	padding: 5px;
}

div.Render>*:hover {
	box-shadow: #71c4ff 0 0 10px;
	background-color: #71c4ff;
	transform: scale(1.04);
	outline: none;
	position: relative;
	z-index: 0;
}

div.Projects a {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	padding: 20px;
	margin: 20px;
	text-decoration: none;
	transition: all 0.2s ease;
	border-top: 1px solid #ffffff41;
	border-radius: 32px;
	background-color: #0000006b;
	box-shadow: #000000a9 0 5px 5px;
}

div.Projects a:hover,
div.Projects a:focus-visible {
	border: none;
	outline: none;
	transform: scale(1.04);
	box-shadow: #71c4ff 0 0 10px;
	background-color: #71c4ff;
	position: relative;
	z-index: 0;
}

div.Projects a:active {
	box-shadow: #71c4ff 0 0 30px;
	background-color: #71c4ff;
	transform: scale(0.95);
}

div.Projects a img {
	border-radius: 15px;
	border-style: none;
	width: 500px;
	margin-bottom: 15px;
}

div.Projects a p {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

main h1 {
	text-align: center;
	padding: 15px;
}

footer {
	border-top: 1px solid #ffffff41;
	box-shadow: #000000a1 0 0 15px;
	background-color: #1b1d20;
	height: 50px;
	width: 100%;
	bottom: 0px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	display: flex;
	justify-content: center;
}

footer a {
	float: left;
	margin: 15px 20px;
	text-decoration: none;
}

@media screen and (width <=1150px) {
	header {
		width: 100vw;
		margin: 0;
	}
}