html, body, p, a, h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
}

body {
	background-color: #222427;
	min-height: 100vh;
	position: relative;
}

body::after {
	display: block;
	height: 100px;
}

header {
	background-color: #444e6a88;
	height: 75px;
	width: 100%;
	backdrop-filter: blur(10px);
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  z-index: 3;
}

.separater {
	height: 75px;
}

header a {
	text-decoration: none;
	font-size: 32px;
	padding:40px;
}

main {
	padding-top: 75px;
	padding-bottom: 100px;
	transition: all ease 0.2s;
}

div.text-section {
	display: flex;	
	height: 80vh;
	margin: 24px 16%;
	font-size: 24px;
	align-items: center;
	line-height: 1.7;
}

div.text-image {
	height: 80vh;
	flex-direction: row;
	display: flex;
	margin: 24px 16%;
	font-size: 24px;
	justify-content: space-around;
	align-items: center;
}

div.text-image p {
	height: fit-content;
	width: 50%;
}

div.text-image p small {
	font-size: 16px;
}

:any-link {
	color: inherit;
	transition: all ease 0.1s;
}

:any-link:hover {
	color: #75b1ff;
}

#HIRING {
	font-weight: 700;
	font-size: large;
}

div.text-image img {
	image-rendering: pixelated;
	border-radius: 64px;
	transition: all ease-out 0.6s;
	width: 30%;
	object-fit: contain;
}

div.text-image img:hover {
	transform: rotate(-4deg) scale(1.1);
}

#discord-username {
	cursor: pointer;
	transition: all ease-out 0.03s;
}

#discord-username:hover {
	color: #b4d7ff;
}

#discord-username:active {
	color: #668ebb;
}

div.Projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.Projects a {
	width: 620px;
	text-decoration: none;
	padding-bottom: 50px;
	transition: all ease-in-out 0.17s;
}

div.Projects a:hover {
	transform: scale(0.95);
  position: relative;
  z-index: 0;
}

div.Projects a img {
	border-radius: 50px;
	border-width: 10px;
	border-color: #080d1a;
	border-style: solid;
	width: 500px;
	margin: 50px;
	margin-bottom: 15px;
}

div.Projects a p {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

main h1 {
	text-align: center;
	padding: 15px;
}

footer {
	position: absolute;
	background-color: #282d3a;
	height: 100px;
	width: 100%;
	bottom: 0px;
}

footer a {
	float: left;
	padding-top: 30px;
	padding-left: 25px;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
	div.text-image img {
		display: none;
	}
}